PORT=4000
NODE_ENV=development
LOG_LEVEL=info

MONGO_URL=mongodb://localhost:27017/library
MONGO_URL_LOCAL=mongodb://localhost:27017/manga_db
FRONTEND_URL=http://localhost:5173

SMTP_MAIL=your-email@gmail.com
SMTP_PASSWORD=your-app-specific-password

JWT_SECRET_KEY=your-secret-key-min-32-chars-long
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
